body {
	background-color: #F6F6FF;
	font-family: 'CVC Sans', Helvetica, sans-serif !important;
	color: #3A3A48;
}

.skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 80%);
	}

	100% {
		background-color: hsl(200, 20%, 95%);
	}
}

.skeleton-button-full {
	width: 100%;
	height: 2.888rem;
	border-radius: 0.735rem;
	color: transparent !important;
}

.skeleton-button-half {
	height: 2.284rem;
	flex: 1 0 calc(50% - 0.473rem);
	border-radius: 0.735rem;
	color: transparent !important;
}

.skeleton-button-quarter {
	height: 2.284rem;
	flex: 1 0 21%;
	padding: 0.564rem;
	border-radius: 0.735rem;
	color: transparent !important;
}

.skeleton-button-full * {
	visibility: hidden;
}

.skeleton-button-half * {
	visibility: hidden;
}

.skeleton-button-quarter * {
	visibility: hidden;
}

.skeleton-title {
	width: 18.438rem;
	height: 1.365rem;
}

.skeleton-endereco {
	width: 16.25rem;
	height: 1.75rem;
}

.skeleton-mapa {
	width: 100%;
	height: 16rem;
	border-radius: 0.735rem;
}

.skeleton-horario-main {
	width: 100%;
	height: 1rem;
}

.skeleton-horario-sub div {
	width: 100%;
	height: 0.938rem;
}

header {
	width: 100%;
	height: 6.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.519rem;
	background-color: #FFFFFF;
	box-shadow: 0px 0.1px 25px 0px rgba(0, 0, 0, 0.12);
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.103rem;
	margin-top: 1.103rem;
	margin-bottom: 1.103rem;
}

header img {
	height: 2.4rem;
}

header h1 {
	font-size: 1.365rem;
	font-weight: 700;
}

main section {
	width: 23.875rem;
	display: flex;
	justify-content: center;
	padding: 1.313rem;
	border-radius: 0.84rem;
	background-color: #FFFFFF;
	box-shadow: 0px 0.1px 25px 0px rgba(0, 0, 0, 0.12);
}

/*main section h3 {
	font-size: 1.103rem;
}*/

main section#links {
	flex-wrap: wrap;
	gap: 0.788rem;
}

main section#links a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.473rem;
	border-radius: 0.735rem;
	font-weight: 500;
}

main section#links a, a:visited, a:hover, a:active {
	color: #3A3A48;
}

main section#links a.full {
	width: 100%;
	height: 2.888rem;
	flex-grow: 1;
	font-size: 1.103rem;
}

main section#links a.full img {
	height: 1.412rem;
}

main section#links a.full#google img {
	height: 1.26rem;
}

main section#links a.half {
	height: 2.284rem;
	flex: 1 0 calc(50% - 0.473rem);
	font-size: 0.84rem
}

main section#links a.half img {
	height: 1.024rem;
}

main section#links a.quarter {
	flex: 1 0 21%;
	padding: 0.564rem;
}

main section#links a.quarter img {
	height: 1.155rem;
}

main section#links a.yellow {
	background-color: #FFEB00;
}

main section#links a.hollow {
	border: 0.066rem solid rgba(0, 0, 0, 0.28);
}

main section#horario {
	display: grid;
	grid-template-columns: calc(100% - 1.2rem) 1.2rem;
}

main section#horario h3 {
	grid-column-end: span 2;
	margin-bottom: 1.102rem;
	text-align: center;
}

main section#horario div#main,
main section#horario div#sub div {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-weight: 500;
}

main section#horario div#main {
	font-size: 0.92rem;
}

main section#horario div#sub {
	display: flex;
	flex-direction: column;
	gap: 0.204rem;
	margin-top: 0.204rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

main section#horario div#sub div {
	font-size: 0.82rem;
	color: #696975;
}

main section#horario div#arrow {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

main section#horario div#arrow img{
	width: 0.8rem;
}

p.open {
	font-weight: 700;
	color: #3FBA57;
}

p.closed {
	font-weight: 700;
	color: #E35F5F;
}

main section#mapa {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.473rem;
}

main section#mapa div {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

main section#mapa div img {
	height: 1.313rem;
}

main section#mapa div p {
	width: 1.313rem;
}

main section#mapa p {
	font-size: 0.79rem;
	line-height: 1.106rem;
	margin-bottom: 0.1rem;
	text-align: center;
}

main section#mapa iframe {
	width: 100%;
	min-height: 15rem;
	border-radius: 0.735rem;
}

main section#mapa a#pin {
	display: block;
	position: absolute;
	width: calc(23.875rem - 2.626rem);
	margin-top: 4.2rem;
	background-image: url('https://cvc.sc/imgs/icons/pincvc.png');
	background-size: 3.5rem;
	background-position: 50% calc(50% - 20px);
	background-repeat: no-repeat !important;
}

div#modal	{
	display: block;
	position: fixed;
	width: 20.75rem;
	top: 90vh;
	left: calc( 50vw - 10.375rem);
	visibility: hidden;
	opacity: 0;
	padding: 0.8rem;
	border-radius: 0.84rem;
	background-color: rgba(58, 58, 72, 0.8);
	color: #ffffff;
	z-index: 999;
	transition: opacity .1s;
	transition-timing-function: cubic-bezier(0, 0, 0.1, 0.1);
	text-align: center;
}

div#modal.show {
	opacity: 1;
}

@media screen and ( min-width: 1000px ) {
	main section {
		width: 25.449rem;
		padding: 2.100rem;
	}
	
	section#mapa {
		width: 39.774rem;
	}

	main section#mapa a#pin {
		width: calc(39.774rem - 2.626rem);
	}
}

@media screen and ( min-width: 821px ) {
	main {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		justify-content: center;
		align-items: start;
	}

	section#links {
		grid-column-end: 1;
		grid-row-end: 1;
	}

	main section#horario {
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-column-end: 1;
		grid-row-end: 2;
	}

	main section#horario div#arrow{
		display: none;
	}

	main section#horario div#sub {
		display: flex;
		width: 100%;
		max-height: 300px;
		transition: none;
	}

	section#mapa {
		height: 100%;
		grid-column-end: 2;
		grid-row-end: span 2;
	}

	section#mapa iframe#imapa {
		height: calc( 100% - 1.103rem - calc( calc( 0.735rem * 2 ) - 0.1rem  ) );
	}

	.skeleton-mapa {
		height: calc(100% - 1.103rem - calc(calc(0.735rem * 2) - 0.1rem));
	}
}

@media screen and (max-width: 425px) {
	main section {
		width: 90%;
	}

	main section#mapa a#pin {
		width: calc(90% - 2.626rem);
	}
}